
    <div class="main-container">
  <div class="landing-page">
    <header>
      <div class="container">
        
        <ul class="links">
            <li>
                <a routerLink="student-home-component">Home</a>
                
              </li>
              <li>
                <a routerLink="student-home-component">List</a>
                
              </li>
              <li><a routerLink="add-new">Add New</a>
                
              </li>
              <li><a routerLink="update-student">Update</a>
                
              </li>
              <li><a routerLink="details-student">Details</a>
                
              </li>
              <li><a routerLink="delete-student">Delete</a>
                
              </li>
        </ul>
      </div>
    </header>
    <div class="content">
      <!-- <div class="container">
       
        
      </div> -->
    </div> 
  
  <!-- End Landing Page -->
</div>
<router-outlet/>