@using MultiLanguageMVC
@{
    ViewData["Title"] = "Resource.HomePage";
}

<div class="text-center">
    <h1 class="display-4">@MultiLanguageMVC.Resources.Resource.Welcome
    </h1>
    <p>Resources.Resource.LearnAbout <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
